.posts-contenedor {
    /* width: 940px; */
    padding: 40px;
    /* background-color: yellow; */
}

.posts-content {
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    max-width: 940px;
    border-top: 1px solid rgba(219,219,219,1);
}

.iconos-contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 53px;
}

.i-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 60px 0px 0px;
}

.items-c {
    display: flex;
    padding-top: 20px;
    width: 120px;
    height: 18px;
}

.i-c {
    display: flex;
    align-items: center;
    border-top: 1px solid #262626;
    margin-left: 50px;
}

.icon-p {
    width: 12px;
}

.videos {
    padding-left: 30px;
    margin-left: 40px;
}

.guardadas {
    margin-left: 30px;
    padding-left: 20px;
}

.etiquetadas {
    padding-left: 20px;
    margin-left: 30px;
}

.p {
    margin: 0px 0px 0px 6px;
    color: #262626;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.icon-i-p {
    color: #8e8e8e;
}

.i-p {
    margin: 0px 0px 0px 6px;
    color: #8e8e8e;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.contenido {
    display: flex;
    justify-content: center;
}

.image1, .image2, .image3 {
    width: 293px;
    height: 293px;
    margin-left: 15px;
    margin-right: 15px;
}

.content-images {
    display: flex;
    justify-content: center;
    width: 235px;
    height: 293px;
}