@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;500;700&family=Kite+One&family=Montserrat:wght@100;200;300;400;600&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@100;300;400;500;700&family=Quicksand:wght@300&family=Roboto:wght@100;300;400;500;700&family=Source+Code+Pro:ital,wght@0,200;0,400;0,700;1,200&display=swap');

body {
  background-color: #fafafa;
}

.user-container {
  padding: 90px 20px 0px;
  margin: 0 187px;
}

.user-content {
  display: flex;
  width: 100%;
  max-width: 975px;
  margin: 0 0 44px;
}

.user-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 291px;
  margin-right: 30px;
  text-align: center;
  margin: 0 30px 0 0;
}

.perfil-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.user-date {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 613px;
}

.user-content-date {
  display: flex;
  margin: 0 0 20px;
}

.user-name {
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.user-configuration {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.btn-edit {
  font-size: 14px;
  color: #262626;
  padding: 5px 9px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  border: 1px solid rgba(219, 219, 219, 1);
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.btn-config {
  padding: 8px;
}

.boton-config {
  width: 40px;
  cursor: pointer;
}

.user-count {
  display: flex;
  margin: 0 0 25px;
}

.div-count {
  padding-left: 30px;
}

.d-c, .div-count {
  cursor: pointer;
}

/*------------------ MEDIA -------------------*/

@media (max-width: 700px) {
  .user-container {
    width: 100%;
    max-width: 1349px;
  }

  .user-content {
    width: 100%;
    max-width: 1349px;
  }
}