* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-container {
  display: flex;
  justify-content: center;
  padding: 30px 20px 0px;
}

.user-img {
  display: flex;
  margin: 0 30px 0 0;
}

.user-date {
  display: flex;
}

.user-img-container {
  width: 291px;
  margin-right: 30px;
  text-align: center;
}

.perfil-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.user-date {
  display: flex;
  flex-direction: column;
  width: 613px;
}

.user-content-date {
  display: flex;
  margin-bottom: 20px;
}

.user-name {
  font-size: 28px;
  font-family: sans-serif;
}

.user-configuration {
  display: flex;
  margin-left: 20px;
}

.btn-edit {
  font-size: 14px;
  color: #262626;
  padding: 5px 9px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  border: 1px solid rgba(219, 219, 219, 1);
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.btn-config {
  padding: 4px;
  /* padding: 8px; */
}

.boton-config {
  width: 40px;
  cursor: pointer;
}

.user-count {
  display: flex;
}

.div-count {
  display: flex;
  margin-left: 20px;
}
