.contenedor-modal-followers {
    display: flex;
    margin: auto;
    top: 36%;
    right: 65%;
    position: fixed;
}

.followers-modal-container {
    width: 400px;
    height: 310px;
    border: 1px solid gray;
    border-radius: 12px;
    margin: auto;
    background: #fff;
    position: absolute;
}

.followers-modal-header {
    display: flex;
    justify-content: center;
    height: 42px;
    border-bottom: 1px solid rgba(219,219,219,1);
}

.div-modal-h-1 {
    width: 48px;
    height: 42px;
}

.div-modal-h-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 304px;
    height: 42px;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    color: #262626;
    font-weight: 600;
}

.div-modal-h-icon {
    display: flex;
    align-items: center;
    padding: 8px;
}
.followers-icon-exit {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.followers-modal-content {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    width: 400px;
}

.f-modal-user-img {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(219,219,219,1);
    border-radius: 100%;
}

.f-modal-user-image {
    width: 30px;
    border-radius: 100px;
}

.f-modal-user-data {
    width: 235px;
}

.f-modal-user-data-username {
    font-size: 14px;
    color: #262626;
    font-weight: 600;
}

.f-modal-user-data-name {
    font-size: 14px;
    color: #8E8E8E;
}

.div-f-modal-btn {
    width: 78px;
}

.f-modal-btn-eliminar {
    padding: 5px 9px;
    background-color: transparent;
    color: #262626;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(219, 219, 219, 1);
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #262626;
    cursor: pointer;
}

@media (max-width: 1118px) {
    .contenedor-modal-followers {
        display: flex;
        right: 68.2%;
        top: 32%;
    }
}

@media (max-width: 700px) {
    .contenedor-modal-followers {
        display: flex;
        right: 71.6%;
        top: 19%;
    }
}