.following-modal-container {
    display: flex;
    margin: auto;
    top: 36%;
    right: 65%;
    position: fixed;
}

.following-modal-content {
    margin: auto;
    width: 400px;
    height: 310px;
    border: 1px solid gray;
    border-radius: 12px;
    background: #fff;
    position: absolute;
}

.modal-header {
    display: flex;
    height: 42px;
    border-bottom: 1px solid rgba(219,219,219,1);
    align-items: center;
}

.div-1 {
    width: 50px;
    margin-left: 80px;
}

.modal-title {
    font-size: 16px;
    font-weight: 600;
    color: #262626;
    margin-left: 50px;
}

.modal-items {
    display: flex;
    cursor: pointer;
}

.div-icon-exit {
    display: flex;
    width: 50px;
    padding: 8px;
    margin-left: 120px;
}

.icon-exit {
    width: 18px;
    height: 18px;
    font-weight: 900;
    cursor: pointer;
}

.modal-items-personas {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 14px 0px;
    color: #00376b;
    font-weight: 16px;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.modal-items-hashtags {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 14px 0px;
    color: #00376b;
    font-weight: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(219,219,219,1);
}

@media (max-width: 1118px) {
    .following-modal-container {
        display: flex;
        right: 68.2%;
        top: 32%;
    }
}

@media (max-width: 700px) {
    .following-modal-container {
        display: flex;
        right: 71.6%;
        top: 19%;
    }
}