.nav-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-content {
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid rgba(219,219,219,1) ;
}

.nav-logo {
  width: 333px;
  margin-top: 10px;
}

.nav-search {
  padding: 0 16px;
}

.search-icon {
  display: flex;
  position: absolute;
  margin: 10px;
  color: #8e8e8e;
}

.nav-input {
  width: 268px;
  height: 36px;
  background-color: #efefef;
  border-radius: 8px;
  border: none;
  outline: none;
  padding-left: 32px;
  color: #8e8e8e;
}

.nav-icons {
  display: flex;
}

.user-circle {
  display: flex;
  border: 1px solid black;
  border-radius: 100px;
  margin-left: 24px;
  justify-content: center;
}

.img-nav-logo {
  border: 1px solid white;
  border-radius: 100px;
  width: 24px;
  margin-right: 23.5px;
}

.div-icon {
  display: flex;
  padding-left: 24px;
}

.n-i {
  width: 24px;
  height: 24px;
  cursor: pointer;
}